:root {
    --background-color: #c5c3c6;
    --font-color: #46494b;
    --header-background-color: #4c5c68;
    --header-font-color: #b0e4db;
    --field-background-color: #ededee;
    --field-background-color-hover: #d8e4e9;
    --border-color: #555;
    --blue-border-color: #2a3a46;
    --button-background-color: #4c5c68;
    --button-hover-background: #3b4b57;
    --button-active-background: #2a3a46;
    --font: 'Varela Round', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    /* footer support */
    position: relative;
    min-height: 100%;
  }

body{
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: var(--font);
    line-height: 1.6;
    /* footer support */
    margin-bottom: 80px;
}

/* HEADER */

.header {
    padding: 20px;
    background-color: var(--header-background-color);
    color: var(--header-font-color);
    border: 3px solid var(--blue-border-color);
    width: 100%;
}

.title {
    font-size: 60px;
    text-align: center;
    line-height: 1.2;
}

/* MAIN */

.main {
    padding: 0 20px;
    height: 100%;
    margin: auto;
}

.message{
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 334px;
    height: 334px;
    border: 2px solid var(--border-color);
    margin: 0px auto;
}

.grid-element{
    width: 110px;
    height: 110px;
    border: 1px solid var(--border-color);
    background-color: var(--field-background-color);
    font-size: 70px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.grid-element:hover{
    background-color: var(--field-background-color-hover);
}

.center{
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 30px 0px 30px;
}

.restart-button {
    padding: 10px 20px;
    border: 3px solid var(--blue-border-color);
    border-radius: 7px;
    background-color: var(--button-background-color);
    color: var(--header-font-color);
    font-size: 30px;
  }

/* FOOTER */

footer{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 10px;
}

.fa-github {
    color: #333;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}